<!DOCTYPE html>
<html>
	<head>
		<title>Vanmo</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container">
			<h2>Vanmo</h2>
			<p>Your gateway to Wall Street</p>
			<form>
				<div class="form-group">
					<div class="col-xs-4">
						<label for="usr">Username:</label>
						<input type="text" class="form-control" id="usr">
					</div>
					<div class="col-xs-4">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="pwd">
					</div>
				</div>	
			</form>
			<button type ="button" class="btn btn-default pull-down">Sign In</button>
			<button type ="button" class="btn btn-success pull down">Sign Up</button>
		</div>
	</body>
</html>