<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vanmo Bank Accounts</title>

  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>

    <!-- Static navbar -->
    <!-- try changing the nav class from navbar-default to navbar-inverse -->
    <!-- try adding navbar-fixed-top or navbar-fixed-bottom to the class-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Vanmo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/view_current_account">Home</a></li>
            <li><a href="/add_bank_account">Add Account</a></li>
            <li class="active"><a href="/view_transactions">View Transactions</a></li>
            <li><a href="/logout" style="float:right">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div id="transactions-table"> 
      <h3>Recent Transactions</h3>
      <class="transactions">
      <table class="table table-stripe d"> 
        <thead> 
          <tr> <th>Timestamp</th> <th>User 1</th> <th>Account 1</th> <th>User 2</th> <th>Account 2</th> <th>Amount</th> <th>Type</th> </tr> 
        </thead> 
        <tbody> 
          {% for entry in transactions %}
          <tr>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.username_1 }}</td>
            <td>{{ entry.account_1 }}</td> 
            <td>{{ entry.username_2 }}</td> 
            <td>{{ entry.account_2 }}</td>
            <td>{{ entry.amount }}</td> 
            <td>{{ entry.type }}</td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>