<!DOCTYPE html>
<html>
    <head>
         <title>Vanmo</title>
    </head>
    <body>
        <h1>Login!</h1>
    

		<h2>Login Form</h2>

<form action="action_page.php">

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
  </div>
</form>
<p>Click <a href="/">here</a> to go back to home.</p>

</body>
</html>

