<!DOCTYPE html>
<html>
    <head>
         <title>Vanmo</title>
    </head>
    <body>
        <h1>Sign up!</h1>
    

		<h2>Sign up Form</h2>

<form action="/signup" method ="post">

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Sign up</button>
  </div>
</form>
<p>Click <a href="/">here</a> to go back to home.</p>

</body>
</html>

